---
import Layout from '../layouts/Layout.astro';
import Technology from '../components/Technology.astro';
import Testimonials from '../components/Testimonials.astro';
import Projects from '../components/Projects.astro';
import Books from '../components/Books.astro';
import AboutMe from '../components/AboutMe.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import { 
  keyExpertise, 
  projects, 
  books,
  socialMedia, 
  testimonials,
  booksRead,
  calculateYearsExperience, 
  getAmountOfProjects,
  getTechnologies 
} from '../data/portfolioData.js';

// Calculate dynamic values
const yearsExperience = calculateYearsExperience();
const amountOfProjects = getAmountOfProjects();
const technologies = getTechnologies();

---

<Layout 
  title="Marko Andersson - Homepage" 
  description="Explore Marko Andersson's expertise, featured projects, testimonials, and books that influenced his journey. Get in touch to collaborate or learn more."
>
  <div class="bg-primary-dark text-primary min-h-screen font-sans">

    <main class="container mx-auto px-6 py-12">
      <Hero />
    </main>

    <Technology technologies={technologies} />

    <GetInTouch title="Get In Touch" socialMedia={socialMedia} />

    <main class="container mx-auto px-6 py-12">

      <AboutMe 
        title="About Me & Expertise"
        keyExpertise={keyExpertise}
        yearsExperience={yearsExperience}
        booksRead={booksRead}
        amountOfProjects={amountOfProjects}
      />

      <Testimonials title="What People Say" testimonials={testimonials} />

      <Projects title="Featured Projects" projects={projects} />

      <Books title="Books That Influenced Me" books={books} />
    </main>

    <Footer />
  </div>
</Layout>
